
spring:
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  output:
    ansi:
      enabled: always
  profiles:
    default: development

rsa:
  private-key: classpath:certs/private.pem
  public-key: classpath:certs/public.pem

server:
  address: 0.0.0.0

sentry:
  dsn: https://0dae560a3a969a7b4dd2d5b8a5332851@o4509207537647616.ingest.de.sentry.io/4509207545053264
  send-default-pii: true